name: release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: "release hpi"
    steps:
      - name: Build
        uses: offa/maven-action@c667d622234c5df724ba5bdfd4130f8b1c293f2d
        with:
          java-version: 17
          pmd: false
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/*.hpi
